<header>
  <h1>Postcode checker</h1>
</header>

<form id='postcode-checker' class='form-inline' action='check' method='post'>
  <div class='form-group'>
    <label for='postCode'>Postcode:</label>
    <input id='postCode' name='postcode' placeholder='Enter Postcode' type='text' required='required' />
  </div>

  <input type='submit' value='Check availability' />
</form>
