---
http_interactions:
- request:
    method: get
    uri: https://api.postcodes.io/postcodes/e143qe
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Gnu:
      - Michael J Blanchard
      Etag:
      - W/"32a-LjC1hYF2kthScdhPPkgYo89zcRI"
    body:
      encoding: UTF-8
      string: '{"status":200,"result":{"postcode":"E14 3QE","quality":1,"eastings":537433,"northings":178435,"country":"England","nhs_ha":"London","longitude":-0.021935,"latitude":51.488171,"european_electoral_region":"London","primary_care_trust":"Tower
        Hamlets","region":"London","lsoa":"Tower Hamlets 031A","msoa":"Tower Hamlets
        031","incode":"3QE","outcode":"E14","parliamentary_constituency":"Poplar and
        Limehouse","admin_district":"Tower Hamlets","parish":"Tower Hamlets, unparished
        area","admin_county":null,"admin_ward":"Island Gardens","ced":null,"ccg":"NHS
        Tower Hamlets","nuts":"Tower Hamlets","codes":{"admin_district":"E09000030","admin_county":"E99999999","admin_ward":"E05009324","parish":"E43000220","parliamentary_constituency":"E14000882","ccg":"E38000186","ccg_id":"08V","ced":"E99999999","nuts":"UKI42"}}}'
  recorded_at: Fri, 06 Mar 2020 05:53:48 GMT
recorded_with: VCR 5.1.0
