---
http_interactions:
- request:
    method: get
    uri: https://api.postcodes.io/postcodes/E10ND
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Gnu:
      - Michael J Blanchard
      Etag:
      - W/"327-RqSrSU0Z8FQkLy4ASsljnBfRAxo"
    body:
      encoding: UTF-8
      string: '{"status":200,"result":{"postcode":"E1 0ND","quality":1,"eastings":536059,"northings":181242,"country":"England","nhs_ha":"London","longitude":-0.040631,"latitude":51.513727,"european_electoral_region":"London","primary_care_trust":"Tower
        Hamlets","region":"London","lsoa":"Tower Hamlets 019C","msoa":"Tower Hamlets
        019","incode":"0ND","outcode":"E1","parliamentary_constituency":"Bethnal Green
        and Bow","admin_district":"Tower Hamlets","parish":"Tower Hamlets, unparished
        area","admin_county":null,"admin_ward":"St Dunstan''s","ced":null,"ccg":"NHS
        Tower Hamlets","nuts":"Tower Hamlets","codes":{"admin_district":"E09000030","admin_county":"E99999999","admin_ward":"E05009329","parish":"E43000220","parliamentary_constituency":"E14000555","ccg":"E38000186","ccg_id":"08V","ced":"E99999999","nuts":"UKI42"}}}'
  recorded_at: Fri, 06 Mar 2020 14:56:58 GMT
recorded_with: VCR 5.1.0
