---
http_interactions:
- request:
    method: get
    uri: https://api.postcodes.io/postcodes/SW25JD
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Gnu:
      - Michael J Blanchard
      Etag:
      - W/"2f3-6Q+D1x+sAQSs+XgXe5iC5I1NzmY"
    body:
      encoding: UTF-8
      string: '{"status":200,"result":{"postcode":"SW2 5JD","quality":1,"eastings":530452,"northings":174798,"country":"England","nhs_ha":"London","longitude":-0.123765,"latitude":51.457138,"european_electoral_region":"London","primary_care_trust":"Lambeth","region":"London","lsoa":"Lambeth
        020A","msoa":"Lambeth 020","incode":"5JD","outcode":"SW2","parliamentary_constituency":"Streatham","admin_district":"Lambeth","parish":"Lambeth,
        unparished area","admin_county":null,"admin_ward":"Brixton Hill","ced":null,"ccg":"NHS
        Lambeth","nuts":"Lambeth","codes":{"admin_district":"E09000022","admin_county":"E99999999","admin_ward":"E05000417","parish":"E43000212","parliamentary_constituency":"E14000978","ccg":"E38000092","ccg_id":"08K","ced":"E99999999","nuts":"UKI45"}}}'
  recorded_at: Fri, 06 Mar 2020 17:29:31 GMT
recorded_with: VCR 5.1.0
